@using HairSalonManyToMany.Models;

@{
  Layout = "_Layout";
}
<h2>@(@Model.FirstName + " " + @Model.LastName)</h2>

<h3>Clients with this provider:</h3>
@foreach (ClientStylist cs in @Model.Clients)
{
  <p>@Html.ActionLink(cs.Client.FirstName + " " + cs.Client.LastName, "Details", "Clients", new {id =cs.Client.ClientId})
  </p>
}

<p>@Html.ActionLink("Delete this stylist","Delete",new {id = @Model.StylistId})</p>
<p>@Html.ActionLink("Edit this stylist","Edit",new {id = @Model.StylistId})</p>